<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Open Conf</display-name>
  <welcome-file-list>
    <welcome-file>SignUp.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>controllers.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SubmissionServlet</servlet-name>
    <servlet-class>controllers.SubmissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmissionServlet</servlet-name>
    <url-pattern>/DisplaySubmission</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmissionServlet</servlet-name>
    <url-pattern>/ManageSubmission</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmissionServlet</servlet-name>
    <url-pattern>/SubmissionList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmissionServlet</servlet-name>
    <url-pattern>/GetSubmissionListForReview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmissionServlet</servlet-name>
    <url-pattern>/ReviewSubmission</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ConferenceServlet</servlet-name>
    <servlet-class>controllers.ConferenceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConferenceServlet</servlet-name>
    <url-pattern>/DisplayConference</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConferenceServlet</servlet-name>
    <url-pattern>/ManageConference</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConferenceServlet</servlet-name>
    <url-pattern>/ConferenceList</url-pattern>
  </servlet-mapping>
</web-app>